<div class="bar"></div>
<header>
    <a href="/"><div class="logo"></div></a>
    <nav>
        <div class="btn">menu</div>
        <ul>
            <li>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="//w.ryansrich.com" target="_blank">Writing</a>
                <a href="mailto:rrichrs@gmail.com">Email</a>
                <a href="//twitter.com/_ryanSrich">Twitter</a>
                <a href="/assets/img/ryan_rich_resume_05_10_2016.pdf" target="_blank">Resume</a>
            </li>
        </ul>
    </nav>
</header>
