---
title: Writing | Ryan S. Rich
---
<section class="wiggle">
    <div class="grid">
        <a href="/" class="home">&#8592; Home</a>
        <img src="/assets/img/cl.jpg" alt="Christian Slater">
    </div>
</section>
