@media handheld, only screen and (max-width: 767px){
    nav{
        a{
            font-size: 16px;
            font-weight: 300;
        }
        a.s{opacity: 1.0;}
    }
    .ihavenoideawhatimdoing{
        margin: 50px auto;
        p,
        h2,h1{
            font-size: 16px;
            font-weight: 300;
        }
        h2{
            font-size: 16px;
            font-weight: 300;
        }
        p{
            font-size: 16px;
            font-weight: 300;
            @include easing(350ms);
            a{
                color: $c_white;
                @include easing(350ms);
                &:hover{
                    @include easing(350ms);
                    opacity: 0.3;
                }
            }
        }
        .a{
            margin: 40px 0px;
            a{
                font-size: 16px;
                font-weight: 300;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
            }
        }
    }

}
