@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,300,400italic,500,700');
$f_sans: 'Roboto Mono', monospace;
$w_bold: 700;
$w_reg: 400;
$s_italic: italic;
body{
    font-family: $f_sans;
    font-size: 12px;
    color: $c_dark;
}
