---
title: Facebook Is Digital Cancer
layout: f_facebook
---
<h1 class="fb_title">Facebook Is Digital Cancer</h1>
<div class="fb_cover"></div>
<article class="fb">
    <%= partial "partials/posts/facebook.md"%>
</article>
