---
title: Catalyze Accounts / Ryan S. Rich - Product Designer
---
<%= partial "partials/header" %>
<main>
    <h1>Catalyze Accounts</h1>
    <p>The Catalyze Account manager is the central location for account and organization management. For ultimate portability, a user has the option of either managing their account here, or via a number of Catalyze products. This is made possible by utilizing git submodules. The intended design of this system was to make it less burdensome to scale user management as Catalyze continues to add new products.</p>
    <p><a href="//product.catalyze.io" target="_blank" class="cta">Visit Link</a></p>
    <h2>Role: Director of Design, UI/UX Designer, Web Developer</h2>
    <img src="/assets/img/1_catalyze_accounts_a@2x.png" alt="Catalyze Accounts">
    <img src="/assets/img/2_catalyze_accounts_b@2x.png" alt="Catalyze Accounts">
    <img src="/assets/img/3_catalyze_accounts_c@2x.png" alt="Catalyze Accounts">
</main>
