---
title: Catalyze Engineering Blog / Ryan S. Rich - Product Designer
---
<%= partial "partials/header" %>
<main>
    <h1>Catalyze Engineering</h1>
    <p>I developed the Catalyze engineering blog using Middleman for static site generation, Github for content management, and Codeship for continuous deployment and testing. Search was implemented using the Swiftype API. The visual design is intended to compliment our external products which have similar aesthetics.</p>
    <p><a href="//engineering.catalyze.io" target="_blank" class="cta">Visit Link</a></p>
    <h2>Role: Director of Design, UI/UX Designer, Web Developer</h2>
    <img src="/assets/img/15_catalyze_engineering_blog_a@2x.png" alt="Catalyze Engineering Blog">
    <img src="/assets/img/16_catalyze_engineering_blog_b@2x.png" alt="Catalyze Engineering Blog">
</main>
