---
title: Catalyze.io Redesign / Ryan S. Rich - Product Designer
---
<%= partial "partials/header" %>
<main>
    <h1>Catalyze.io Redesign</h1>
    <p>Redesigning catalyze.io was one of my first tasks as a new employee at Catalyze. Over the course of two and a half years the marketing site has gone through several design and development iterations. Currently the project is in the latest stages of a comprehensive redesign. Catalyze.io is built using the Kirby CMS.</p>
    <p><a href="//catalyze.io" target="_blank" class="cta">Visit Link</a></p>
    <h2>Role: Director of Design, UI/UX Designer, Web Developer</h2>
    <img src="/assets/img/20_catalyze_io_a@2x.png" alt="Catalyze.io">
    <img src="/assets/img/21_catalyze_io_b@2x.png" alt="Catalyze.io">
    <img src="/assets/img/22_catalyze_io_c@2x.png" alt="Catalyze.io">
</main>
