---
title: Compliance Documentation / Ryan S. Rich - Product Designer
---
<%= partial "partials/header" %>
<main>
    <h1>Compliance Documentation</h1>
    <p>As a company that provides HIPAA compliance to some of the world's largest health institutions, documentation of that compliance is of the utmost importance. The Catalyze HIPAA compliance documentation utilizes a reference layout with in text searching powered by Solr.js. These documents are also free and open source.</p>
    <p><a href="//hipaa.catalyze.io" target="_blank" class="cta">Visit Link</a></p>
    <h2>Role: Director of Design, UI/UX Designer, Web Developer</h2>
    <img src="/assets/img/10_catalyze_compliance_docs_a@2x.png" alt="Compliance Docs">
    <img src="/assets/img/11_catalyze_compliance_docs_b@2x.png" alt="Compliance Docs">
    <img src="/assets/img/12_catalyze_compliance_docs_c@2x.png" alt="Compliance Docs">
</main>
