---
title: ryan s. rich
layout: layout_home
---
<nav>
    <a href="/about">_about</a>
    <a href="/">h</a>
    <a href="/contact" class="s">contact</a>
</nav>
<div class="ihavenoideawhatimdoing">
    <div class="a">
        <a href="mailto:rrichrs@gmail.com">mail: rrichrs at gmail</a>
        <a href="tel:5033349134">call: 503.334.9134</a>
        <a href="//twitter.com/_ryanSrich" target="_blank">@ me</a>
    </div>
</div>
