---
title: HL7 Documentation / Ryan S. Rich - Product Designer
---
<%= partial "partials/header" %>
<main>
    <h1>HL7 Documentation</h1>
    <p>HL7 and FHIR are protocols used to abstract data out of health systems and EHRs. The Catalyze HL7 docs provide both a reference and a Mock API for new developers to prototype with.</p>
    <p><a href="//hl7-docs.catalyze.io" target="_blank" class="cta">Visit Link</a></p>
    <h2>Role: Director of Design, UI/UX Designer, Web Developer</h2>
    <img src="/assets/img/13_catalyze_hl7_docs_a@2x.png" alt="HL7 Docs">
    <img src="/assets/img/14_catalyze_hl7_docs_b@2x.png" alt="HL7 Docs">
</main>
