---
title: ryan s. rich
layout: layout_home
---
<nav>
    <a href="/about">_about</a>
    <a href="/" class="s">h</a>
    <a href="/contact">contact</a>
</nav>
<div class="ihavenoideawhatimdoing">
    <h1>"Deep in the human unconscious is a pervasive need for a logical universe that makes sense. But the real universe is always one step beyond logic"</h1>
    <h2>Frank Herbert</h2>
    <div class="a">
        <a target="_blank" href="//product.catalyze.io"><span>2016-03-25</span> - Catalyze Accounts</a>
        <a target="_blank" href="//catalyze.io/stratum"><span>2016-02-25</span> - Stratum</a>
        <a target="_blank" href="//catalyze.io/redpoint"><span>2015-12-03</span> - Redpoint Future Demo</a>
        <a target="_blank" href="//hipaa.catalyze.io"><span>2015-11-29</span> - Compliance Documentation</a>
        <a target="_blank" href="//hl7-docs.catalyze.io"><span>2015-09-08</span> - HL7 Mock API and Documentation</a>
        <a target="_blank" href="//engineering.catalyze.io"><span>2015-08-21</span> - Catalyze Engineering Blog</a>
        <a target="_blank" href="//resources.catalyze.io"><span>2015-06-11</span> - Resources Knowledge Base</a>
        <a target="_blank" href="//catalyze.io"><span>2014-08-16</span> - Catalyze.io Redesign</a>
    </div>
</div>
