---
title: ryan s. rich
---
<img class="logo" src="/assets/img/bra.svg">
<div class="canvas-wrapper">
    <canvas id="particles" height="200" width="400">
</div>
<div class="alwaysmore">
    <span>A</span>
    <span>L</span>
    <span>W</span>
    <span>A</span>
    <span>Y</span>
    <span>S</span>
    <span>M</span>
    <span>O</span>
    <span>R</span>
    <span>E</span>
    <span>T</span>
    <span>H</span>
    <span>E_</span>
    <span>R</span>
    <span>E</span>
    <span>I</span>
    <span>S</span>
    <span>A —</span>
    <span>L —</span>
    <span>W —</span>
    <span>A —</span>
    <span>Y —</span>
    <span>S —</span>
    <span>M —</span>
    <span>O —</span>
    <span>R —</span>
    <span>E</span>
</div>
<div class="grid grid-pad h">
    <div class="col-3-12">
        <div class="left">
            <div class="logo">
                <span>R — Y — A — N</span>
                <span>S9.91.2891.91</span>
                <span>R — I — C — H</span>
            </div>
            <div class="meta">
                <span>54.03 m</span>
                <span>45.5535330,-122.5813730</span>
            </div>
            <div class="block"></div>
            <div class="yella">
                <span>01000100 01100101 01100101 01110000 00100000 01101001 01101110 00100000 01110100 01101000 01100101 00100000 01101000 01110101 01101101 01100001 01101110 00100000 01110101 01101110 01100011 01101111 01101110 01110011 01100011 01101001 01101111 01110101 01110011 00100000 01101001 01110011 00100000 01100001 00100000 01110000 01100101 01110010 01110110 01100001 01110011 01101001 01110110 01100101 00100000 01101110 01100101 01100101 01100100 00100000 01100110 01101111 01110010 00100000 01100001 00100000 01101100 01101111 01100111 01101001 01100011 01100001 01101100 00100000 01110101 01101110 01101001 01110110 01100101 01110010 01110011 01100101 00100000 01110100 01101000 01100001 01110100 00100000 01101101 01100001 01101011 01100101 01110011 00100000 01110011 01100101 01101110 01110011 01100101 00101110 00100000 01000010 01110101 01110100 00100000 01110100 01101000 01100101 00100000 01110010 01100101 01100001 01101100 00100000 01110101 01101110 01101001 01110110 01100101 01110010 01110011 01100101 00100000 01101001 01110011 00100000 01100001 01101100 01110111 01100001 01111001 01110011 00100000 01101111 01101110 01100101 00100000 01110011 01110100 01100101 01110000 00100000 01100010 01100101 01111001 01101111 01101110 01100100 00100000 01101100 01101111 01100111 01101001 01100011</span>
                <div class="o"></div>
            </div>
        </div>
    </div>
    <div class="col-9-12">
        <div class="right">
            <nav>
                <a target="_blank" href="//product.catalyze.io"><span>2016-03-25</span> - Catalyze Accounts</a>
                <a target="_blank" href="//catalyze.io/stratum"><span>2016-02-25</span> - Stratum</a>
                <a target="_blank" href="//catalyze.io/redpoint"><span>2015-12-03</span> - Redpoint Future Demo</a>
                <a target="_blank" href="//hipaa.catalyze.io"><span>2015-11-29</span> - Compliance Documentation</a>
                <a target="_blank" href="//hl7-docs.catalyze.io"><span>2015-09-08</span> - HL7 Mock API and Documentation</a>
                <a target="_blank" href="//engineering.catalyze.io"><span>2015-08-21</span> - Catalyze Engineering Blog</a>
                <a target="_blank" href="//resources.catalyze.io"><span>2015-06-11</span> - Resources Knowledge Base</a>
                <a target="_blank" href="//catalyze.io"><span>2014-08-16</span> - Catalyze.io Redesign</a>
            </nav>
            <p>Hello. My name is Ryan. Currently I'm the director of design at <a href="//catalyze.io" target="_blank">Catalyze</a>. We build infrastructure and compliance software for the future of healthcare. Previously I worked as a web developer at <a href="//globalthinking.com" target="_blank">Global Thinking</a> in Alexandria VA. There I had the opportunity to collaborate with some of the greatest brands in the world.</p>
            <p>Before that I co-founded an edTech startup in Rochester NY. We helped public schools save time and money by replacing archaic grading machines with standard printers. Our application leveraged optical character recognition technology to standardize and grade multiple choice tests.</p>
            <p>Originally hailing from the corn fields of Upstate NY, I now live with my Fiance, Kara, in <a href="//www.instagram.com/p/BFHqQiRnI4GgW2LrOxYX9webQ_InU1g_cqUtP80/" target="_blank">Portland OR</a>. We have two cats and a new <a href="//www.instagram.com/p/BB0yPQ3nIz_iYwyCCoXulRC2VV6FoYAHkin0Mo0/?taken-by=_ryansrich" target="_blank">puppy</a>. If you're interested in chatting about technology, design or healthcare shoot me an email rrichrs at gmail.</p>
            <nav>
                <a href="mailto:rrichrs@gmail.com">mail: rrichrs at gmail</a>
                <a href="tel:5033349134">call: 503.334.9134</a>
                <a href="//twitter.com/_ryanSrich" target="_blank">@ _ryanSrich</a>
                <a href="//dribbble.com/ryanSrich" target="_blank">dribbble</a>
                <a href="//github.com/rr1000" target="_blank">g_hub</a>
                <a href="//stackoverflow.com/users/1254737/ryansrich" target="_blank">SO</a>
            </nav>
        </div>
    </div>
</div>
