---
title: ryan s. rich
---
<section class="newnew">
    <div class="grid">
        <p>Hello. My name is Ryan. Currently I'm the director of design at <a href="//catalyze.io" target="_blank">Catalyze</a>. We build infrastructure and compliance software for the future of healthcare. Previously I worked as a web developer at <a href="//globalthinking.com" target="_blank">Global Thinking</a> in Alexandria VA. There I had the opportunity to collaborate with some of the greatest brands in the world.</p>
        <p>Before that I co-founded an edTech startup in Rochester NY. We helped public schools save time and money by replacing archaic grading machines with standard printers. Our application leveraged optical character recognition technology to standardize and grade multiple choice tests.</p>
        <p>Originally hailing from the corn fields of Upstate NY, I now live with my Fiance, Kara, in <a href="//www.instagram.com/p/BFHqQiRnI4GgW2LrOxYX9webQ_InU1g_cqUtP80/" target="_blank">Portland OR</a>. We have two cats and a new <a href="//www.instagram.com/p/BB0yPQ3nIz_iYwyCCoXulRC2VV6FoYAHkin0Mo0/?taken-by=_ryansrich" target="_blank">puppy</a>. If you're interested in chatting about technology, design or healthcare shoot me an email rrichrs at gmail.</p>
        <nav>
            <a target="_blank" href="//hellolucy.co"><span>2016-06-12</span> - Lucy</a>
            <a target="_blank" href="//product.catalyze.io"><span>2016-03-25</span> - Catalyze Accounts</a>
            <a target="_blank" href="//catalyze.io/stratum"><span>2016-02-25</span> - Stratum</a>
            <a target="_blank" href="//newtonisredpointforever.catalyze.io"><span>2015-12-03</span> - Redpoint Future Demo</a>
            <a target="_blank" href="//hipaa.catalyze.io"><span>2015-11-29</span> - Compliance Documentation</a>
            <a target="_blank" href="//hl7-docs.catalyze.io"><span>2015-09-08</span> - HL7 Mock API and Documentation</a>
            <a target="_blank" href="//engineering.catalyze.io"><span>2015-08-21</span> - Catalyze Engineering Blog</a>
            <a target="_blank" href="//resources.catalyze.io"><span>2015-06-11</span> - Resources Knowledge Base</a>
            <a target="_blank" href="//catalyze.io"><span>2014-08-16</span> - Catalyze.io Redesign</a>
        </nav>
        <footer>
            <p>Ryan S. Rich 2016</p>
            <ul>
                <li><a href="#">Github</a></li>
                <li><a href="#">Stackoverflow</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Dribbble</a></li>
                <li><a href="#">Email</a></li>
                <li><a href="#">LinkedIn</a></li>
            </ul>
        </footer>
    </div>
</section>
