---
title: Redpoint 2.x / Ryan S. Rich - Product Designer
---
<%= partial "partials/header" %>
<main>
    <h1>Redpoint 2.x</h1>
    <p>The Redpoint demo demonstrates the capabilities of the Catalyze Redpoint integration engine. With Redpoint, users can build interface connections, input connector set information, manage usage statistics for inbound and outbound channels, as well create custom complex scripts.</p>
    <p><a href="//newtonisredpointforever.catalyze.io" target="_blank" class="cta">Visit Link</a></p>
    <h2>Role: Director of Design, UI/UX Designer, Web Developer</h2>
    <img src="/assets/img/7_catalyze_redpoint_a@2x.png" alt="Redpoint 2.x Demo">
    <img src="/assets/img/8_catalyze_redpoint_b@2x.png" alt="Redpoint 2.x Demo">
    <img src="/assets/img/9_catalyze_redpoint_c@2x.png" alt="Redpoint 2.x Demo">
</main>
