---
title: Resources Knowledge Base / Ryan S. Rich - Product Designer
---
<%= partial "partials/header" %>
<main>
    <h1>Resources Knowledge Base</h1>
    <p>Resources are the lifeblood of of all Catalyze users. As a technical product for developers we pride ourselves on having clear, well documented APIs and tools. Resources are also a central location for finding tutorials, guides, and setup instructions for Catalyze products.</p>
    <p><a href="//resources.catalyze.io" target="_blank" class="cta">Visit Link</a></p>
    <h2>Role: Director of Design, UI/UX Designer, Web Developer</h2>
    <img src="/assets/img/17_catalyze_resources_a@2x.png" alt="Resources Knowledge Base">
    <img src="/assets/img/18_catalyze_resources_b@2x.png" alt="Resources Knowledge Base">
    <img src="/assets/img/19_catalyze_resources_c@2x.png" alt="Resources Knowledge Base">
</main>
