---
title: Stratum / Ryan S. Rich - Product Designer
---
<%= partial "partials/header" %>
<main>
    <h1>Stratum</h1>
    <p>As a compliant platform as a service, Stratum provides the underlying infrastructure for the healthcare software of tomorrow. Over the course of two and half years I worked on designing the user interface and experience of the product. For a more in depth writeup check out <a href="#">this article.</a></p>
    <p><a href="//catalyze.io/stratum" target="_blank" class="cta">Visit Link</a></p>
    <h2>Role: Director of Design, UI/UX Designer, Web Developer</h2>
    <img src="/assets/img/4_catalyze_stratum_a@2x.png" alt="Catalyze Stratum Dashboard">
    <img src="/assets/img/5_catalyze_stratum_b@2x.png" alt="Catalyze Stratum Dashboard">
    <img src="/assets/img/6_catalyze_stratum_c@2x.png" alt="Catalyze Stratum Dashboard">
</main>
