body{background-color: #F7F8FE;}
.newnew{
    font-size: 18px;
    color: $c_blue;
    font-weight: 500;
    padding: 50px 30px;
    a{
        text-decoration: none;
        color: $c_link;
        @include easing(350ms);
        &:hover{
            @include easing(350ms);
            color: $c_dark;
        }
    }
    p{
        padding: 0px 0px 20px 0px;
        line-height: 1.5;
    }
    nav{
        a{
            display: block;
            line-height: 1.5;
            &:hover{
                padding: 0px 0px 0px 5px;
            }
        }
    }
    footer{
        padding: 20px 0px 0px 0px;
        p{color: $c_dark;}
        a{
            line-height: 1.5;
            color: lighten($c_dark, 45%);
        }
    }
}
