main{
    margin: 33px auto 30px auto;
    h1{
        max-width: 550px;
        margin: 0px auto 20px auto;
        color: $c_dark;
        font-size: 20px;
        font-weight: $w_bold;
    }
    p{
        font-size: 14px;
        line-height: 1.8;
        max-width: 550px;
        margin: 0px auto 20px auto;
        color: $c_dark;
        a{
            color: $c_pink;
            text-decoration: none;
            @include easing(350ms);
            &:hover{
                @include easing(350ms);
                color: $c_purple;
            }
        }
    }
    a.cta{
        width: 150px;
        padding: 6px;
        text-align: center;
        display: block;
        color: $c_purple;
        border: 1px solid $c_purple;
        @include border-radius(5px);
        &:hover{
            color: $c_white;
            background-color: $c_purple;
        }
    }
    h2{
        color: $c_light;
        font-style: $s_italic;
        max-width: 550px;
        margin: 0px auto 20px auto;
    }
    img{
        width: 100%;
        height: auto;
        max-width: 850px;
        margin: 0px auto 20px auto;
        display: block;
        @include box-shadow(0px 4px 7px darken($c_border, 10%));
    }
}
